
.goalsFormCreator input{
  width: 400px;
}

.footer{
    display: flex;
}

.footer div{
    padding: 5px;
}

.ClearCompleted{
    cursor: pointer;
}

.goals{
padding: 5px;
}

.button_selected{
    border: rgb(75, 75, 75) solid 1px;
}
